snippet bclass "Bold with Class" i
<b class="${1:class}">${2:paragraph}</b>
endsnippet

snippet pclass "Pargraph with Class" i
<p class="${1:class}">${2:paragraph}</p>
endsnippet

snippet section "Section" b
<section>
	${1:start}
</section>
endsnippet

snippet sectionback "Section with a Background" b
<section data-background-transition="none" data-background="" style="background: rgba(29,31,33,0.9)">


</section>
endsnippet
