snippet quicklink "Link to a web site"
[${1:${VISUAL:Text}}](${2})$0
endsnippet

snippet gatorgrader "Link to the GatorGrader web site"
[GatorGrader${1:${VISUAL}}](https://github.com/GatorEducator/gatorgrader)
endsnippet

snippet dockagator "Link to the DockaGator web site"
[DockaGator${1:${VISUAL}}](https://github.com/GatorEducator/dockagator)
endsnippet

snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet
