snippet quicklink "Link to a web site"
[${1:${VISUAL:Text}}](${2})$0
endsnippet

snippet gatorgrader "Link to the GatorGrader web site"
[GatorGrader${1:${VISUAL}}](https://github.com/GatorEducator/gatorgrader)
endsnippet
